html { 
  background: url('../images/favicon.ico') no-repeat center center fixed #111; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#header {
  background-color: black;
  margin-left: none;
  margin-right: none;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  color: blue;
  height: 100px;
}
#backgrounds {
background-color: blue;
color: black;
height: 100px;
width: 100px;
}
#no-margin {margin: 0px;}
#nolan-link {
color: blue;
}
#same-line{
display:inline;
}
a{
text-decoration: none;
color: red;
font-family: Garamond;
}
p{
color: red;
}
h1{
color: red;
}h2{
color: red;
}