html {
background: url('../images/photo (2).jpg') no-repeat center center fixed #111;
-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}