/*select whole thing*/
html {
  /*background*/
  background: url('../images/Tfavicon.ico') no-repeat center center fixed #111;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
}
/*select text only*/
p{
color: green;
}
a{
  /*text decoration*/
text-decoration: none;
}
/*1862*/
