html { 
  background: url('../images/spring_browser.png') no-repeat center center fixed #111; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#header {
  background-color: black;
  color: blue;
  height: 100px;
}
#backgrounds {
background-color: blue;
color: black;
height: 100px;
width: 100px;
}